<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <select id="price-filter">
                <!-- Options will be populated dynamically -->
            </select>
        </section>
        <section id="places-list">
            {% for place in places %}
            <div class="place-card">
                <h6>{{ place.title }}</h6>
                <p>Price per Night {{ place.price }}</p>
                <button class="details-button">View Details</button>
            </div>
            {% endfor %}
        </section>
    </main>
    <footer>
        {% include 'footer.html' %}
    </footer>
    <script src="{{ url_for('static', filename='scripts.js')}}"></script>
</body>
</html>