<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        {% include 'header.html' %}
    </header>
    <main>
        <section id="place-details">
            <!-- Place details will be populated dynamically -->
        </section>
        <section id="reviews">
            <h1>{{ place_data.title }}</h1>
            <div>
                <p> Price Per night: {{ place_data.price }}</p>
                <p>Host: {{ place_data.owner.first_name }} {{ place_data.owner.last_name }}</p>
                <p>Description: {{ place_data.description }}</p>
                <p>Amenities:</p>
            </div>
            <!-- Reviews will be populated dynamically -->
        </section>
        <section id="review">
            <h2>Reviews</h2>
            {% for review in place_data.reviews %}
                <div>
                    <h3>{{review.user.first_name}} {{review.user.last_name}}:</h3>
                    <p>{{review.text}}</p>
                    <div style="display: flex;">
                        <p>Rating: </p>
                        {% for r in range(5) %}
                            {% if r <= review.rating %}
                                <div style="width: 8px; height: 8px; margin: 8px; background-color: black; border: 1px solid"></div>
                            {% else %}
                                <div style="width: 8px; height: 8px; margin: 8px; border: 1px solid;"></div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </section>
        <section id="add-review">
            <h2>Add a Review</h2>
            <form id="review-form">
                <label for="review-text">Review:</label>
                <textarea id="review-text" name="review_text" required></textarea>
                <label for="rating_selector">Rating:</label>
                <select name="rating" id="rating_selector">
                    {% for e in range(6) %}
                    <option value="{{e}}" {% if e == 3 %}selected{% endif %}>{{e}} star</option>
                    {% endfor %}
                </select>
                <button type="submit">Submit</button>
            </form>
        </section>
        <!-- need to implement authentication check to display review form -->
    </main>
    <script src="{{ url_for('static', filename='scripts.js')}}"></script>
</body>
</html>